<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>(l'ICT che vorrei nel...) La P.A. che vorrei</title>        
        
        {{ $css := resources.Get "css/main.css" | resources.ToCSS }}
        <link rel="stylesheet" media="screen" href="/css/main.css">
        <link rel="stylesheet" media="print" href="/css/print.css">
    </head>
    <body>
        {{- block "main" . }}{{- end }}
        {{ $js := resources.Get "js/main.js" }}
        <script src="{{ $js.Permalink }}"></script>
    </body>
</html>
