<footer class="text-center mt-8 py-2 bg-gray-900 text-white">
    <div>
       Last modified on {{ with .GitInfo }}{{ .AuthorDate }}{{ end }} with commit 
          {{ with .GitInfo }}
            {{ .AbbreviatedHash }}
          {{ end }} - Graphical theme design based on <a href="https://clig.dev/">CLIG</a> (by <a href="https://mhurrell.co.uk/">Mark Hurrell</a>)
     </div>
 </footer>
 