{{ define "main" }}
    <button id="menu-button">Contents</button>
    {{ .TableOfContents }}

    <main>
        {{ .Content }}
        <hr>
        {{ partial "footer.html" . }}
    </main>
    
{{ end }}
